<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TestLogMapper">
    
    <resultMap type="TestLog" id="TestLogResult">
        <result property="id"    column="id"    />
        <result property="rwmc"    column="rwmc"    />
        <result property="scenario"    column="scenario"    />
        <result property="tgf"    column="tgf"    />
    </resultMap>

    <sql id="selectTestLogVo">
        select id, rwmc, scenario, tgf from test_log
    </sql>

    <select id="selectTestLogList" parameterType="String" resultMap="TestLogResult">
        <include refid="selectTestLogVo"/>
        where rwmc = #{rwmc}
    </select>
    
    <select id="selectTestLogById" parameterType="Long" resultMap="TestLogResult">
        <include refid="selectTestLogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTestLog" parameterType="TestLog" useGeneratedKeys="true" keyProperty="id">
        insert into test_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rwmc != null  and rwmc != ''">rwmc,</if>
            <if test="scenario != null  and scenario != ''">scenario,</if>
            <if test="tgf != null ">tgf,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rwmc != null  and rwmc != ''">#{rwmc},</if>
            <if test="scenario != null  and scenario != ''">#{scenario},</if>
            <if test="tgf != null ">#{tgf},</if>
         </trim>
    </insert>

    <update id="updateTestLog" parameterType="TestLog">
        update test_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="rwmc != null  and rwmc != ''">rwmc = #{rwmc},</if>
            <if test="scenario != null  and scenario != ''">scenario = #{scenario},</if>
            <if test="tgf != null ">tgf = #{tgf},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTestLogById" parameterType="Long">
        delete from test_log where id = #{id}
    </delete>

    <delete id="deleteTestLogByIds" parameterType="String">
        delete from test_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>