<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include :: header('主页')" />
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					待办事项
				</div>
				<div class="panel-body">
					待运行任务9项
					<br/>
					待审核任务9项
					<br/>
					待通过任务8项
					<br/>
					待处理任务5篇
					<br/>
					待确定任务3项
					<br/>
					待开启任务4项
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					2020年01月测试情况
				</div>
				<div class="panel-body">
					通过场景2000个
					<br/>
					未通过场景156个
					<br/>
					例行任务测试78项
					<br/>
					例行任务覆盖度91%
					<br/>
					任务完成度87%
					<br/>
					例行任务产生文件2815个
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					2020年01月总结情况
				</div>
				<div class="panel-body">
					测试报告251份
					<br/>
					问题总结报告16份
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<a href="/system/main/SHOW">
				<div class="panel panel-info">
					<div class="panel-heading">
						<i class="fa fa-info-circle"></i> 演示场景
					</div>
					<div class="panel-body">
						<img th:src="@{/img/testSHOW.jpg}" width="100%" height="100%">
					</div>
				</div>
			</a>
		</div>
		<div class="col-sm-4">
			<a href="/system/main/PSCT">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<i class="fa fa-warning"></i> 协议栈互通性测试
					</div>
					<div class="panel-body">
						<img th:src="@{/img/testPSCT.jpg}" width="100%" height="100%">
					</div>
				</div>
			</a>
		</div>
		<div class="col-sm-4">
			<a href="/system/main/GNSS">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<i class="fa fa-warning"></i> 定位测试
					</div>
					<div class="panel-body">
						<img th:src="@{/img/testGNSS.jpg}" width="100%" height="100%">
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
	function animationHover(element, animation) {
		element = $(element);
		element.hover(
				function () {
					element.addClass('animated ' + animation);
				},
				function () {
					//动画完成之前移除class
					window.setTimeout(function () {
						element.removeClass('animated ' + animation);
					}, 2000);
				});
	};
	$(document).ready(function () {
		$('.col-sm-4').each(function () {
			animationHover(this, 'pulse');
		});
	});
</script>
</body>
</html>